* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    background: url('https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg');
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.container h1 {
    font-size: 6rem;
    text-align: center;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
}

.movies-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 12rem 4rem 4rem;
}

@media screen and (max-width:500px) {
    .movies-container {
        padding: 12rem 2rem 2rem;
    }
}

@media screen and (max-width:300px) {
    .movies-container {
        padding: 9rem 1rem 1rem;
    }
    .container h1 {
        font-size: 4rem;
    }
}